//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------
.main-navigation {
	display: none;

	@include media($tablet-landscape) {
		display: flex;
		justify-content: flex-end;
	}

	// Menu area
	ul {
		display: none;

		@include media($phone) {
			display: block;
		}

		li {
			transition: all 0.35s ease;
			margin-right: 40px;
			padding: 10px 0;
			
			&:last-child {
				margin-right: 0;
				background: #1cadf0;
				border-radius: 3px;
				padding: 0;
				
				a {
					color: $color-white;
					padding: 10px 20px;
					&:hover {
						border-bottom-color: $color-white;
						background: $color-white;
						color: $color-blue;
					}
				}
			}
				
			a {
				text-transform: uppercase;
				color: $color-white;
				font-size: 14px;
				&:hover,
				&:active,
				&:focus{
					border-bottom: 1px solid white;
				}
			}
			
		}
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul
} // .main-navigation

//-----------------------------------------
// Dropdown.
//-----------------------------------------
.dropdown {
	position: relative;

	// Sub-menu
	ul {
		@include position(absolute, rem(24) null null -999em);

		box-shadow: 0 rem(3) rem(3) rgba($color-black, 0.2);
		float: left;
		z-index: 99999;

		// Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		} // ul

		// Sub-menu items
		li {
			width: 100%;

			&:hover > ul,
			&:focus > ul {
				left: 100%;
			} // &:hover > ul, &.focus > ul
		} // li

		// Sub-menu links
		a {
			@include size(100% auto);

			min-width: rem(200);
		} // a
	} // ul

	// Display sub-menu on hover
	li:hover > ul,
	:focus > ul {
		left: auto;
	} // li:hover > ul, .focus > ul

	// Menu items
	li {
		float: left;
		position: relative;
	} // li
} // &.dropdown
.ebooks{
	.site-header{
		ul {
			li {
				&:last-child {
					background-color: hsla(0,7%,70%,.22);
				}
			}
		} // ul
	}
}

