//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
.button,.gform_button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: $aqua-green;
	border: none;
	border-radius: 3px;
	border-width: 0;
	color: $color-button-text;
	line-height: 1.5;
	margin: 0;
	font-size: 16px;
	padding: 15px 40px;
	font-weight: 600;

	// IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &

	&:hover {
		background-color: $aqua-green;
	} // &:hover

	&:active,
	&:focus {
		background-color: $aqua-green;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]
.btn{
	color: $color-white;
	margin: 6px;
	padding: 10px;
	&:hover {
		color: $color-white;
	} // &:hover	
}
.secondary-btn{
	color: $aqua-green;
	background-color: $color-white;
	border: solid 1px $aqua-green;
	
}
.ds-btn{
  color: #02a4ef;
  border-radius: 4px;
  border: solid 1px #02a4ef;
  background-color: #ffffff;
  font-size: 10px;
  @include media($tablet-portrait) {
	font-size: 16px;
} 
  &:hover {
	background-color:#ffffff;
  }
}
.quotation .btn{
	@include media($tablet-portrait) {
		font-size: 18px;
		padding: 15px 20px;
	}
}
.ctr-btn .btn{
	padding: 15px 20px!important;
}