//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------

// Entry Title
.entry-title {
	font-size: 28px;
	@include media($tablet-portrait) {
		font-size: 24px;
		line-height: 1.2;
	}
	a{
		color: $color-black;
	}
} // .entry-title
.webinar-header{
	@include media($tablet-portrait) {
		font-size: rem(30);
	}
}

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	margin: 0 0 rem(24) 0;
} // .hentry

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// Byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	font-size: 12px;
	margin: rem(5) 0 0;
	color: $color-black;
	@include media($tablet-portrait) {
		font-size: 16px;
		padding: 2px;
		margin: rem(20) 0 0;
	}
	p{
		color: $color-gray;
		font-size: 14px;
	}
} // .page-content, .entry-content, .entry-summary

// Page links
.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
} // .page-links

// Tags links
.tags-links {
	margin-left: rem(24);
} // .tags-links

// Edit link
.edit-link {
	margin: 0 0 0 rem(5);

	a {
		display: inline-block;
		font-size: rem(12);
		text-transform: lowercase;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	} // a
} // .edit-link

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title

// Content blocks.
.content-block {
	@include clearfix;
} // .content-block