//--------------------------------------------------------------
// Quotation section
//--------------------------------------------------------------
.get-demo{
	background-color: $color-alto;
	@include media($tablet-portrait) {
		bottom: 0;
	}
	.get-started{
		padding: 20px;
		.quotation-desc{
			@include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6);
			}
			h2{
				font-size: 26px;
			}
			p{
				color: #666;
				font-size: 20px;
			}
		}
		.quotation{
			display: flex!important;
			justify-content: center;
			@include span-columns(12);
            @include media($tablet-portrait) {
				padding-top: 50px;
				@include span-columns(6);
			}
		}
	}
}
//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	background: $color-dark-gray;
	color: $color-white;
	padding: 30px 20px 50px 20px !important;
	@include media($tablet-portrait) {
		bottom: 0;
	}
	.footer-widgets {
		.widget {
			@include span-columns(6);
			@include omega(2n);

			@include media($tablet-landscape) {
				@include omega-reset(2n);
				@include span-columns(3);
			}
			.widget-title {
				font-size: 16px;
			}
			a {
				color: $color-light-gray;
				font-size: 14px;
				margin-bottom: 10px;
			}
		}
	}
	.f-border-line{
		background-color: #979797;
		height: 1px;
  		opacity: 0.1;
	}
}
.site-info {
	.socials{
		display: flex;
		justify-content: space-between;
		padding: 30px 5px;
	}
} // .site-info
