//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
} // button, input, select, textarea

// Addresses excess padding in IE8/9
input[type='checkbox'],
input[type='radio'] {
	padding: 0;
} // input[type="checkbox"], input[type="radio"]

// Remove the clear x icon in IE
input[type='text']::-ms-clear,
input[type='search']::-ms-clear {
	display: none;
} // input[type="text"]::-ms-clear, input[type="search"]::-ms-clear

input[type='search'] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	// Corrects inner padding displayed oddly in S5, Chrome on OSX
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	} // &::-webkit-search-decoration
} // input[type="search"]

// Corrects inner padding and border displayed oddly in FF3/4
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
} // button::-moz-focus-inner, input::-moz-focus-inner
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
.gfield_select{
	height: 55px;
}
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea ,
select{
	appearance: none;
	border: 1px solid $color-input-border;
	border-radius: 0;
	color: $color-input-text;
	line-height: 1.5;
	padding: $padding-input;
	&:focus {
		color: $color-input-focus-text;
	} // &:focus
} // input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
} // textarea
.dsr-form{
	.form-summary{
		.desc{
			color: $color-gray;
		}
	}
	@include span-columns(12);
	@include media($tablet-portrait) {
		@include span-columns(4);
	}
	.gform_wrapper ul.gform_fields li.gfield{
		padding-right: 0;
	}
	.gform_wrapper .hidden_label input.large, .gform_wrapper .hidden_label select.large, 
	.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large{
		width: 100%!important;
	}
	.gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select, 
	.gform_wrapper .gform_body .gform_fields .gfield select{
		width: 100%!important;
	}
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit], 
	.gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit]{
		width: 100%;
	}
	.gform_wrapper input[type=text],.gform_wrapper select{
		border-color: #eee;
		padding-left: 20px!important;
		&:focus{
			outline: none;
		}
		&:hover{
			border-color: #333;
		}
	}
	.gform_wrapper li.hidden_label input,.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container{
		margin-top:0!important;
	}
	.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
		background-color: #ffe3e5!important;
		border: 1px solid #f30b40!important;
	}
	.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
		border: none!important;
		background-color: #fff!important;
	}
	.gform_wrapper .validation_message {
		color: #b60830!important;
		padding: 2px!important;
		font-size: 12px!important;
	}
	.gform_wrapper div.validation_error {
		color: #b60830!important;
		border-top: 2px solid #b60830!important;
		border-bottom: 2px solid #b60830!important;
	}

	.gform_wrapper li.gfield.gfield_error, .gform_wrapper ul li.gfield{
		padding: 2px!important;
		margin-top:0!important;
	}
}
