//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------

.site-header {
	padding: 20px;
	.header-wrap{
	display: flex;
	align-items: center;
	@include media($tablet-landscape) {
		padding: 30px;
	}
   }
}

.border-line {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	display: block;
	height: 1px;
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
	@include media($tablet-portrait) {
		display: none;
	}
}
// Site logo.
.site-branding {
	@include span-columns(12);

	@include media($tablet-portrait) {
		@include span-columns(11);
	}

	@include media($tablet-landscape) {
		@include span-columns(5);
	}

	// Don't let the logo get out of control.
	img {
		width: 75px;
		@include media(min-width $tablet-portrait max-width $tablet-landscape) {
			float: left;
			width: 50%;
		}
	} // img
} // .site-branding

//-----------------------------------------
// Site Title.
//-----------------------------------------
.site-title {
	font-size: rem(48);

	// Align next to the logo on mid-size screens.
	@include media(min-width $tablet-portrait max-width $tablet-landscape) {
		float: left;
		margin: 0;
		padding: 0 rem(12);
		width: 50%;
	}
} // .site-title

//-----------------------------------------
// Site Description.
//-----------------------------------------
.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;

	@include media(min-width $tablet-portrait max-width $tablet-landscape) {
		clear: both;
	}
} // .site-description

//-----------------------------------------
// Header action container — Form Dropdown.
//-----------------------------------------
.site-header-action {
	@include span-columns(12);

	@include media($tablet-portrait) {
		@include span-columns(5);
	}

	@include media($tablet-landscape) {
		@include span-columns(4);

		float: right;
		margin-right: 0;
	}

	@include media($desktop) {
		@include span-columns(3);

		float: right;
		margin-right: 0;
	}

	@include media($desktop-large) {
		@include span-columns(2);

		float: right;
		margin-right: 0;
	}
} // .site-header-action

//-----------------------------------------
// Site header action cta buttons.
//-----------------------------------------
.site-header-action {
	// Span the button the full width.
	.button-link,
	.cta-button {
		color: $color-white;
		display: block;
		text-align: center;
		text-decoration: none;
		width: 100%;
	} // .button-link, .cta-button
} // .site-header-action

//-----------------------------------------
// Site header Action Searchform.
//-----------------------------------------
.site-header-action {
	.search-form {
		opacity: 0;
		transition: $transition-opacity;
		visibility: hidden;

		// If the body class is there, show the form.
		.search-form-visible & {
			display: block;
			opacity: 1;
			transition: $transition-opacity;
			visibility: visible;
		} // .search-form-visible &
	} // .search-form
} // .site-header-action

//-----------------------------------------
// Main Navigation Container.
//-----------------------------------------
.main-navigation {
	@include span-columns(12);
} // .main-navigation

.site-header,.hero-header{
	background: $color-blue;
	.main-navigation ul li a{
		color:$color-white;
	}
	
}
.hero-header{
	.hero-wraper{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		.entry-header{
			color: $color-white;
			@include span-columns(7);
			@include media($tablet-portrait) {
				@include span-columns(8);
				.entry-title{
					font-size: 42px;
					}
				p{
					font-size: 20px;
				}
			}
			
			p{
				font-size: 16px;
			}
		}
		.home-cover{
			width: 250px;
			@include span-columns(5);
			@include media($tablet-portrait) {
				@include span-columns(4);
			}
			img{
				position: relative;
				bottom: -53px;
			}
		}
	}
}

.ebooks {
	.border-line {
		border-bottom: 2px solid #b3b6ba;
	}
	.site-header{
		background: $color-white;
		.main-navigation ul li a{
			color:$color-gray;
			&:hover{
			border-bottom: 1px solid #35373b;
			}
		}
		.hamburger {
			&,
			&::before,
			&::after {
				background: $color-gray;
			}
		}
	    .site-branding .logo svg{
			fill: $color-blue;
			@include media($tablet-portrait) {
				fill: #343f45;
			}
		}
	}
	.hero-header{
			background: none;
			background-image: linear-gradient(to top, #e7e7e7, rgba(255, 255, 255, 0));
			.hero-wraper{
				display: block;
				padding: 20px;
				text-align: center;
				@include media($tablet-portrait) {
					display: flex;
					align-items: center;
					text-align: start;
				}
				.entry-header{
					color: $color-black;
					@include span-columns(12);
					 @include media($tablet-portrait) {
						@include span-columns(8);
					}
				}
				.ebook-cover{
					@include span-columns(12);
					 @include media($tablet-portrait) {
						@include span-columns(4);
						display: flex;
						justify-content: center;
					}
				}
			}
	}
}
.webinars{
	.site-header,.hero-header{
		background: $color-blue;
		.main-navigation ul li a{
			color:$color-white;
		}
	}
}
