.archive, .ready{
    .post-wraper{
            article{
            @include span-columns(12);
                @include media($tablet-portrait) {
                    @include span-columns(4);
                }
                img{
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    @include media($tablet-portrait) {
                        height: auto;
                        width: 100%;
                    }
                }
            }
            .post-article{
                @include media($tablet-portrait) {
                    @include span-columns(4);
                }
                @include outer-container();
               .thumbnail{
                    @include span-columns(4);
                    @include media($tablet-portrait) {
                        @include span-columns(12);
                    }
                } 
               .entry-content{
                padding-left: 10px;
                margin: 0;
                @include span-columns(8);
                @include media($tablet-portrait) {
                    @include span-columns(12);
                    
                }
                .entry-header{
                    h2.entry-title{
                        font-size: 15px;
                        font-weight: 600;
                        @include media($tablet-portrait) {
                            font-size: 20px;
                             font-weight: 400;
                        }
                    }
                }
               }
            }
        }
}