.guides {
    .site-content{
        .dsr-contents{
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(8);
            }
        }
       
    }
    
    
}