//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
//.home
.ready {
    main{
        .featured-post{
            padding-bottom: 20px;
            @include media($tablet-portrait) {
                display: flex;
                align-items: center;
            }
            .featured-image{
                .featured-header-m{
                    display: block;
                    color: $color-silver;
                    @include media($tablet-portrait) {
                       display: none;
                    }
                   
                }
            }
            .featured-image,.featured-desc{
                @include span-columns(12);
                @include media($tablet-portrait) {
                    @include span-columns(6);
                }
            }
            .featured-desc{
                .featured-header{
                    display: none;
                    color: $color-silver;
                    @include media($tablet-portrait) {
                       display: block;
                    }
                   
                }
                .entry-title{
                    margin-bottom: 0;
                    font-size: 26px;
                    line-height: 1.38;
                    font-weight: 400;
                }
            }

        }


        .resources-post{
            border-top: solid 2px $color-light-gray;
            @include outer-container();
            .nav-tab{
                display: none!important;
                padding: 20px 0;
                @include span-columns(12);
                @include media($tablet-portrait) {
                    display: block!important;
                    @include span-columns(2);
                }
            }
            .wrap-container{
                @include span-columns(12);
                    @include media($tablet-portrait) {
                        @include span-columns(10);
                    }
                    .post-header{
                        @include span-columns(12);
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 0;
                        .posts-title{
                            color: $color-silver;
                            text-transform: uppercase;
                            margin: 0;
                            font-weight: 600;
                        }
                    }
                .post-wraper{
                    @include fill-parent;
                    @include media($tablet-portrait) {
                        
                    }
                    article{
                    @include span-columns(12);
                        @include media($tablet-portrait) {
                            @include span-columns(4);
                        }
                         img{
                            width: 120px;
                            height: 120px;
                            object-fit: cover;
                            @include media($tablet-portrait) {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                    }
                    .post-article{
                    .thumbnail{
                            @include span-columns(4);
                            @include media($tablet-portrait) {
                                @include span-columns(12);
                                img{
                                    height: 170px;
                                }
                            }
                        } 
                    .entry-content{
                        padding-left: 10px;
                        margin: 0;
                        @include span-columns(8);
                        @include media($tablet-portrait) {
                            @include span-columns(12);
                        }
                        .more-link{
                            
                            display: none;
                            @include media($tablet-portrait) {
                                display: block;
                            }
                        }
                        
                    }
                    }
                }
                .create-account{
                    background-color: $color-alto;
                    text-align: center;
                    padding: 20px;
                    @include media($tablet-portrait) {
                        display: flex;
                        align-items: center;
                    }
                .desc{
                    padding: 20px;
                    @include span-columns(12);
                    @include media($tablet-portrait) {
                        text-align: start;
                        @include span-columns(6);
                    }
                    .call-action{
                        color:#666666;
                    }
                }
                    .ctr-btn{
                        padding: 20px;
                        @include span-columns(12);
                        @include media($tablet-portrait) {
                            @include span-columns(6);
                            text-align: end;
                        }
                }
                }
                #ebooks, #blogs{
                    border-top: solid 2px $color-light-gray;
                    margin-top: 20px;
                }
            }
        }
    }
}

