.ebooks {
    
    .ebook-cover{
        position: relative;
        bottom: -54px;
        @include media($tablet-portrait) {
            bottom:0;
        }
    }
    .site-content{
        position: relative;
        bottom: -54px;
        @include media($tablet-portrait) {
            bottom: 0;
        }
        .dsr-contents{
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(8);
                bottom: 0;
            }
        }
       
    }
    
    
}
.ebooks {
    .get-demo, .site-footer{
        position: relative;
        bottom: -54px;
        @include media($tablet-portrait) {
            bottom: 0;
        }
    }
}