.webinars{
    .hero-header{
        .wrap{
            padding: 30px 5px;
            @include media($tablet-portrait) {
                padding-bottom: 90px;
            }
            .header-summary{
                .webinar-header{
                    margin-bottom: 50px;
                    font-size: 33px;
                    font-weight: 600;
                    line-height: 1.28;
                }
            }
            
       }
         
        .header-summary{
            padding: 6px;
            .webinar-tag{
                font-size: 18px;
                font-weight: 600;
            }
            .webinar-tag,.entry-title{
                margin: 0 auto;
                max-width: 800px;
                color: $color-white;
            }
        }
    }
    .webinar-post{
        position: relative;
        top: -100px;
        @include media($tablet-portrait) {
            max-width: 70%;
            margin: auto;
        }
        .webinar-video{
            @include media($tablet-portrait) {
                //display: flex;
                //justify-content: center;
            }           
        }
    }
    .feature-resource, .ds-view-more{
        margin: 0 auto;
        max-width: 800px;
        .ds-heading{
            border-bottom: solid 4px #eeeeee;
            margin-bottom: 30px;
            h2{
                margin: 0;
            }
        }
        .ebook-featured{
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6);
            }
            .entry-title{
                font-size: 15px;
                a{
                   color: $color-black;
                }
            }
        }
    }
    .ds-view-more {
        display: flex;
        justify-content: center;
    }
}