//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a {
	transition: $transition-opacity;
	text-decoration: none;
	color: $color-blue;

	&:visited {
		//color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		//color: $color-link-hover;
	} // &:hover, &:focus, &:active
} // a