//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 rem(24);
	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	} // select

	// Extend the h3 style for the widget titles.
	.widget-title {
		@extend .h3 !optional;
		
	} // .widget-title
} // .widget

// Search widget.
.widget_search .search-submit {
	display: none;
} // .widget_search .search-submit
.nav-tab{
	.menu-main-container{
		.menu{
			.menu-item {
				a{
					color: $color-black!important;
					transition: all .2s;
					&:hover{
					color: $color-blue!important;
					transition: all .2s;
					}
				}
			}
		}
	}
	.widget-title{
		color: $color-silver;
		text-transform: uppercase;
		font-size: 13px;
	}

}
.site-footer {
	.footer-widgets{
		.widget{
			.widget-title{
				color: $color-white;
			}
			a{
				color: hsla(0,0%,100%,.3);
			}
		}
	}
}